# Data splitting and preparation

In [1]:
import pandas as pd

df = pd.read_excel(r"F:\Learning_journal_at_CUHK\FTEC5610_Computational_Finance\Assignment\Assignment 1\assignment 1 data.xlsx", sheet_name="Input data")

## select target area to 2 dataframes

In [2]:
# select not none area
stock_codes_left = df.iloc[0, 7:13].tolist()
stock_codes_right = df.iloc[0, 18:24].tolist()

all_stock_codes = stock_codes_left + stock_codes_right

# date column
dates = df.iloc[2:, 6].reset_index(drop=True) 

# stock area
prices_left = df.iloc[2:, 7:13].reset_index(drop=True)
prices_left.columns = stock_codes_left

# ETF area
prices_right = df.iloc[2:, 18:24].reset_index(drop=True)
prices_right.columns = stock_codes_right

# combine stock area and ETF area
all_prices = pd.concat([prices_left, prices_right], axis=1)

# add date column
all_prices.insert(0, "Date", dates)

## Define data structure

In [3]:
import numpy as np

# date: datetime
all_prices['Date'] = pd.to_datetime(all_prices['Date'])

# stock & ETF name: int
all_prices.columns = ['Date'] + [int(col) for col in all_prices.columns[1:]]

# price: float(round 5)
for col in all_prices.columns[1:]:
    all_prices[col] = all_prices[col].astype(float)

all_prices = all_prices.round(5)

In [4]:
all_prices

,Date,5,700,1024,2628,6618,1044,2823,3199,2840,3175,3046
0,2024-07-31,69.95,362.2,43.80,10.86,21.75,24.40,12.47,113.75,1747.0,6.95,8.10
1,2024-08-01,68.25,365.6,43.45,10.80,21.15,24.45,12.35,114.00,1764.0,7.16,7.72
2,2024-08-02,65.75,358.2,43.00,10.54,20.75,24.60,12.25,114.20,1778.0,7.05,7.68
3,2024-08-05,62.05,356.6,42.80,10.58,21.25,24.85,12.35,115.30,1751.0,6.67,5.74
4,2024-08-06,62.80,354.4,42.85,10.10,21.80,24.75,12.23,115.30,1736.0,6.70,6.14
...,...,...,...,...,...,...,...,...,...,...,...,...
241,2025-07-25,101.00,550.5,72.50,22.75,48.15,23.80,14.92,115.70,2424.0,6.75,8.73
242,2025-07-28,101.10,555.5,72.70,23.15,48.70,23.95,14.98,115.65,2411.0,6.67,9.36
243,2025-07-29,100.80,555.0,72.10,22.90,49.95,24.05,15.00,115.25,2400.0,6.81,9.32
244,2025-07-30,96.95,549.0,72.40,23.25,50.25,24.05,14.98,114.80,2407.0,7.09,9.14
245,2025-07-31,96.15,550.0,77.00,22.75,50.30,23.50,14.70,115.30,2390.0,7.11,9.30

In [5]:
all_prices.to_csv('all_prices.csv',index=False)

## Check for the NAN

In [6]:
print(all_prices.isnull().sum())

Date    0
5       0
700     0
1024    0
2628    0
6618    0
1044    0
2823    0
3199    0
2840    0
3175    0
3046    0
dtype: int64

# Start calculating

## Return

In [7]:
daily_returns_with_nan = all_prices.set_index('Date').pct_change()

In [8]:
daily_returns_with_nan

,5,700,1024,2628,6618,1044,2823,3199,2840,3175,3046
Date,,,,,,,,,,,
2024-07-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2024-08-01,-0.024303,0.009387,-0.007991,-0.005525,-0.027586,0.002049,-0.009623,0.002198,0.009731,0.030216,-0.046914
2024-08-02,-0.036630,-0.020241,-0.010357,-0.024074,-0.018913,0.006135,-0.008097,0.001754,0.007937,-0.015363,-0.005181
2024-08-05,-0.056274,-0.004467,-0.004651,0.003795,0.024096,0.010163,0.008163,0.009632,-0.015186,-0.053901,-0.252604
2024-08-06,0.012087,-0.006169,0.001168,-0.045369,0.025882,-0.004024,-0.009717,0.000000,-0.008567,0.004498,0.069686
...,...,...,...,...,...,...,...,...,...,...,...
2025-07-25,-0.011742,-0.011670,-0.048556,0.017897,-0.005165,-0.004184,-0.007979,0.000865,-0.005334,0.005961,0.011587
2025-07-28,0.000990,0.009083,0.002759,0.017582,0.011423,0.006303,0.004021,-0.000432,-0.005363,-0.011852,0.072165
2025-07-29,-0.002967,-0.000900,-0.008253,-0.010799,0.025667,0.004175,0.001335,-0.003459,-0.004562,0.020990,-0.004274
2025-07-30,-0.038194,-0.010811,0.004161,0.015284,0.006006,0.000000,-0.001333,-0.003905,0.002917,0.041116,-0.019313
2025-07-31,-0.008252,0.001821,0.063536,-0.021505,0.000995,-0.022869,-0.018692,0.004355,-0.007063,0.002821,0.017505

In [9]:
# drop nan. If price has n datapoints, then return has n-1 datapoints.
daily_returns = daily_returns_with_nan.dropna()

In [10]:
daily_returns

,5,700,1024,2628,6618,1044,2823,3199,2840,3175,3046
Date,,,,,,,,,,,
2024-08-01,-0.024303,0.009387,-0.007991,-0.005525,-0.027586,0.002049,-0.009623,0.002198,0.009731,0.030216,-0.046914
2024-08-02,-0.036630,-0.020241,-0.010357,-0.024074,-0.018913,0.006135,-0.008097,0.001754,0.007937,-0.015363,-0.005181
2024-08-05,-0.056274,-0.004467,-0.004651,0.003795,0.024096,0.010163,0.008163,0.009632,-0.015186,-0.053901,-0.252604
2024-08-06,0.012087,-0.006169,0.001168,-0.045369,0.025882,-0.004024,-0.009717,0.000000,-0.008567,0.004498,0.069686
2024-08-07,0.003981,0.025395,0.008168,0.017822,-0.013761,0.010101,-0.010630,-0.006071,-0.008065,0.001493,-0.001629
...,...,...,...,...,...,...,...,...,...,...,...
2025-07-25,-0.011742,-0.011670,-0.048556,0.017897,-0.005165,-0.004184,-0.007979,0.000865,-0.005334,0.005961,0.011587
2025-07-28,0.000990,0.009083,0.002759,0.017582,0.011423,0.006303,0.004021,-0.000432,-0.005363,-0.011852,0.072165
2025-07-29,-0.002967,-0.000900,-0.008253,-0.010799,0.025667,0.004175,0.001335,-0.003459,-0.004562,0.020990,-0.004274
2025-07-30,-0.038194,-0.010811,0.004161,0.015284,0.006006,0.000000,-0.001333,-0.003905,0.002917,0.041116,-0.019313
2025-07-31,-0.008252,0.001821,0.063536,-0.021505,0.000995,-0.022869,-0.018692,0.004355,-0.007063,0.002821,0.017505

In [11]:
# calculate  the mean of return
average_daily_returns = daily_returns.mean()

##  Annualized standard deviation of daily return

In [12]:
# First calculate the std of daily return. The inner definition of .std contains the divison of n-1.
# n is the number of daily return. If so, number of price is n+1. The true division is n-1.
daily_std_dev = daily_returns.std()

# annualize
annual_std_dev = daily_std_dev * np.sqrt(252)

## Convert to target format of annualized daily return

In [13]:
df_annual_std = pd.DataFrame(annual_std_dev, columns=['s.d.'])

codes_for_df1 = [5, 700, 1024, 2628, 6618, 1044]
df1 = df_annual_std.loc[codes_for_df1]
df1 = df1.T.round(5)
df1.index.name = 'stock code'

codes_for_df2 = [2823, 3199, 2840, 3175, 3046]
df2 = df_annual_std.loc[codes_for_df2]
df2 = df2.T.round(5)
df2.index.name = 'stock code'

In [14]:
df1

                  5      700     1024     2628     6618    1044
stock code
s.d.        0.24419  0.33781  0.59254  0.50463  0.55835  0.2675

In [15]:
df2

               2823     3199     2840     3175     3046
stock code
s.d.        0.28526  0.05283  0.17521  0.33227  0.79994

In [16]:
df1.to_csv('Annualized standard deviation of daily return of stocks.csv',index=False)
df2.to_csv('Annualized standard deviation of daily return of ETF.csv',index=False)

## Covariance

In [17]:
daily_returns

,5,700,1024,2628,6618,1044,2823,3199,2840,3175,3046
Date,,,,,,,,,,,
2024-08-01,-0.024303,0.009387,-0.007991,-0.005525,-0.027586,0.002049,-0.009623,0.002198,0.009731,0.030216,-0.046914
2024-08-02,-0.036630,-0.020241,-0.010357,-0.024074,-0.018913,0.006135,-0.008097,0.001754,0.007937,-0.015363,-0.005181
2024-08-05,-0.056274,-0.004467,-0.004651,0.003795,0.024096,0.010163,0.008163,0.009632,-0.015186,-0.053901,-0.252604
2024-08-06,0.012087,-0.006169,0.001168,-0.045369,0.025882,-0.004024,-0.009717,0.000000,-0.008567,0.004498,0.069686
2024-08-07,0.003981,0.025395,0.008168,0.017822,-0.013761,0.010101,-0.010630,-0.006071,-0.008065,0.001493,-0.001629
...,...,...,...,...,...,...,...,...,...,...,...
2025-07-25,-0.011742,-0.011670,-0.048556,0.017897,-0.005165,-0.004184,-0.007979,0.000865,-0.005334,0.005961,0.011587
2025-07-28,0.000990,0.009083,0.002759,0.017582,0.011423,0.006303,0.004021,-0.000432,-0.005363,-0.011852,0.072165
2025-07-29,-0.002967,-0.000900,-0.008253,-0.010799,0.025667,0.004175,0.001335,-0.003459,-0.004562,0.020990,-0.004274
2025-07-30,-0.038194,-0.010811,0.004161,0.015284,0.006006,0.000000,-0.001333,-0.003905,0.002917,0.041116,-0.019313
2025-07-31,-0.008252,0.001821,0.063536,-0.021505,0.000995,-0.022869,-0.018692,0.004355,-0.007063,0.002821,0.017505

In [18]:
# function .cov contains calculating Expected Daliy Return in the formulation for every stock. Although covariance between stock and ETF is unnecessary.
daily_covariance_matrix = daily_returns.cov()

# annualize
annual_covariance_matrix = daily_covariance_matrix * 252

## Convert to target format of covariance

In [19]:
codes_for_df1 = [5, 700, 1024, 2628, 6618, 1044]
codes_for_df2 = [2823, 3199, 2840, 3175, 3046]

df_cov1 = annual_covariance_matrix.loc[codes_for_df1, codes_for_df1]
df_cov1 = df_cov1.round(5)
df_cov1.index.name = 'stock code'
df_cov1.columns.name = 'Annualized covariance of return'

df_cov2 = annual_covariance_matrix.loc[codes_for_df2, codes_for_df2]
df_cov2 = df_cov2.round(5)
df_cov2.index.name = 'stock code'
df_cov2.columns.name = 'Annualized covariance of return'

In [20]:
df_cov1

Annualized covariance of return,5,700,1024,2628,6618,1044
stock code,,,,,,
5,0.05963,0.03505,0.04799,0.04848,0.05335,0.01948
700,0.03505,0.11412,0.13792,0.11780,0.10885,0.05051
1024,0.04799,0.13792,0.35110,0.18025,0.19560,0.07527
2628,0.04848,0.11780,0.18025,0.25465,0.18226,0.09211
6618,0.05335,0.10885,0.19560,0.18226,0.31175,0.08893
1044,0.01948,0.05051,0.07527,0.09211,0.08893,0.07155

In [21]:
df_cov2

Annualized covariance of return     2823     3199     2840     3175     3046
stock code
2823                             0.08137 -0.00027  0.00546  0.01881  0.03654
3199                            -0.00027  0.00279  0.00077  0.00078  0.00002
2840                             0.00546  0.00077  0.03070  0.01293 -0.00571
3175                             0.01881  0.00078  0.01293  0.11040  0.05456
3046                             0.03654  0.00002 -0.00571  0.05456  0.63990

In [22]:
df_cov1.to_csv('Annualized covariance between stocks.csv',index=False)
df_cov2.to_csv('Annualized covariance between ETF.csv',index=False)